/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f3f4f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  animation: logo-anim 1s ease-in-out infinite alternate;
}

@keyframes logo-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media a i {
  font-size: 1.5rem;
}

#menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .social-media {
    margin-top: 1rem;
  }

  #menu-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .projects {
    display: none;
  }

  .show {
    display: block;
  }
}

/* Projects styles */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.projects a {
    font-size: 20px;
    font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  color: #333;
   border-radius: 9px;
   box-shadow: 0 0px 10px rgba(79, 77, 77, 0.112);
  transition: all 0.3s ease;
}

.projects a:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: project-anim 1s ease-in-out infinite alternate;
}

@keyframes project-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.projects img {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}